
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,700;1,300&display=swap');

:root{
    --cor-de-fundo: #3A375E;
    --cor-de-texto: #6E2D8C;
    --cor-de-texto2: #A43232;
    --cor-de-texto3: #FFFFFF;
    --cor-de-listra: #6FFF57;
}