
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,700;1,300&display=swap');

:root{
    --cor-de-fundo: #3A375E;
    --cor-de-texto: #6E2D8C;
    --cor-de-texto2: #A43232;
    --cor-de-texto3: #FFFFFF;
    --cor-de-borda: #6FFF57;
    --botao-ativo: #6a6597;
    --botao-inativo:rgba(42, 32, 66, 0.952);
   
   
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto3);
    font-family: 'Chakra Petch', sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
    color: var(--cor-de-texto3);
}
.titulo-principal span{
    color: var(--botao-ativo)
}
.botao{
    font-family: 'Chakra Petch, sans-serif';
    background-color: var(--botao-inativo);
    color: var(--cor-de-texto3);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--cor-de-borda);
    border-left: 2px solid var(--cor-de-borda);
    border-right: 2px solid var(--cor-de-borda);
    border-top: none;

}
.botao:first-child{
    border-radius: 40px 40px 0 0 ;
}

.botoes { 
    display: block;
}

.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--cor-de-texto2);
}
@media screen and (min-width: 768px) { 
    .botoes { 
        display: flex;
    }
    .botao:first-child { 
        border-radius: 40px 0 0 0;
    }
    .botao:last-child { 
        border-radius: 0 40px 0 0;
    }
}
