
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,700;1,300&display=swap');

:root{
    --cor-de-fundo: #3A375E;
    --cor-de-texto: #6E2D8C;
    --cor-de-texto2: #A43232;
    --cor-de-texto3: #FFFFFF;
    --cor-de-listra: #6FFF57;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto3);
    font-family: 'Chakra Petch', sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
    color: var(--cor-de-texto3);
}

.titulo-principal span{
    color: var(--cor-de-listra);
}